{% extends "core/settings.html" %}

{% block form_content %}
<form method="post" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <div class="d-flex justify-content-between">
        <div class="mb-3">
        {{ form.logo.label_tag }}
        {{ form.logo }}
        {% if form.logo.errors %}
            <div class="invalid-feedback d-block">{{ form.logo.errors }}</div>
        {% endif %}
        </div>
    </div>
    
    <div class="mb-3">
        {{ form.contact_name.label_tag }}
        {{ form.contact_name }}
        {% if form.contact_name.errors %}
        <div class="invalid-feedback d-block">{{ form.contact_name.errors }}</div>
        {% endif %}
    </div>
    
    <div class="row">
        <div class="col-md-6">
        <div class="mb-3">
            {{ form.contact_email.label_tag }}
            {{ form.contact_email }}
            {% if form.contact_email.errors %}
            <div class="invalid-feedback d-block">{{ form.contact_email.errors }}</div>
            {% endif %}
        </div>
        </div>
        <div class="col-md-6">
        <div class="mb-3">
            {{ form.contact_phone.label_tag }}
            {{ form.contact_phone }}
            {% if form.contact_phone.errors %}
            <div class="invalid-feedback d-block">{{ form.contact_phone.errors }}</div>
            {% endif %}
        </div>
        </div>
    </div>

    <div class="mb-3">
        {{ form.full_address.label_tag }}
        {{ form.full_address }}
        {% if form.full_address.errors %}
        <div class="invalid-feedback d-block">{{ form.full_address.errors }}</div>
        {% endif %}
    </div>

    <div class="text-end pt-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
{% endblock %}
